@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Dancing+Script:wght@700&display=swap');
.navbar{
    font-family: 'Comic Neue', cursive;
}
.navbar-dark{
    background: rgba(0,0,0,0.6) !important;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:aqua;
}

.navbar-dark .navbar-nav .nav-link.active{
    color:aqua;
}

.home-content{
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
}

.home-content h5{
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Comic Neue';
}

.home-content h1{
    color: #fff;
    font-size: 6em;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover{
    background-color: aqua;
}

.about-content h3{
    margin-top: 7%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Comic Neue';
}

.about-content hr{
    width: 50%;
    margin: auto;
}

.project-content h3{
    margin-top: 7%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Comic Neue';
}

.project-content hr{
    width: 50%;
    margin: auto;
}

.contact-content h3{
    margin-top: 7%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Comic Neue';
}

.contact-content hr{
    width: 50%;
    margin: auto;
}

.project-content h2{
    
    padding-top: 10%;
    text-align: center;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}
.navbar-collapse.collapse {
    display: block!important;
}